@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.whychooseushero-white-icon {
  width: 1489px;
  position: relative;
  height: 878px;
  object-fit: cover;
  z-index: 0;
}
.whychooseus-hero-child {
  width: 1489px;
  position: relative;
  background-color: var(--color-gray-300);
  height: 772px;
  display: none;
  z-index: 1;
}
.whychooseus-hero-item {
  width: 1038px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 386px);
  right: 0;
  background: linear-gradient(268.43deg, #fff, rgba(255, 255, 255, 0));
  height: 772px;
  display: none;
  z-index: 2;
}
.heading9,
.paragraph15 {
  position: relative;
  display: inline-block;
  min-width: 300px;
}
.heading9 {
  align-self: stretch;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
}
.paragraph15 {
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
  max-width: 800px;
}
.heading-parent7 {
  align-self: stretch;
  flex-direction: column;
  gap: 35px 0;
  min-width: 300px;
}
.frame-wrapper3,
.heading-parent7,
.whychooseus-hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
}
.whychooseus-hero-inner {
  width: calc(100% - 368px);
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 55.5px);
  right: 184px;
  left: 184px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
}
.whychooseus-horizontal-logo-go {
  text-decoration: none;
  width: 167px;
  position: relative;
  height: 34px;
  background-image: url(./public/primaryhorizontallogogoldfaq5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.hamburger-menu10-icon {
  height: 16.4px;
  width: 25.4px;
  position: relative;
}
.hamburger-menu10-wrapper,
.why-choose-us-main-logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hamburger-menu10-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 45.4px;
  height: 36.4px;
  align-items: flex-start;
  box-sizing: border-box;
}
.why-choose-us-main-logo-nav {
  width: calc(100% - 177px);
  margin: 0 !important;
  position: absolute;
  top: 46px;
  right: 83px;
  left: 94px;
  align-items: center;
  z-index: 4;
}
.whychooseus-hero {
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 0;
  text-align: center;
  font-size: var(--font-size-16xl);
}
.heading10,
.paragraph16,
.whychooseus-hero {
  align-self: stretch;
  position: relative;
}
.heading10 {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.paragraph16 {
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
}
.franchisewhychooseus-h1,
.heading-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.heading-parent8 {
  gap: 32px 0;
}
.franchisewhychooseus-h1 {
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-60xl) var(--padding-165xl);
  box-sizing: border-box;
}
.ownership-benefits {
  margin: 0;
}
.headings3 {
  align-self: stretch;
  height: 90px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 450px;
}
.headings-frame {
  align-self: stretch;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-31xl);
  box-sizing: border-box;
}
.headings4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 60px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 500px;
}
.frame-wrapper4,
.headings-wrapper1 {
  width: 1120px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headings-wrapper1 {
  flex: 1;
  display: flex;
}
.frame-wrapper4 {
  height: 186px;
  display: none;
  padding: var(--padding-3xs) var(--padding-154xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  min-width: 1100px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-chiffon);
}
.lightbulb-icon {
  width: 100px;
  position: relative;
  height: 100px;
  object-fit: cover;
}
.innovation1 {
  line-height: 30px;
}
.blank-line45 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.the-first-and {
  line-height: 20px;
}
.the-first-and-only-franchisee- {
  margin: 0;
  font-size: var(--font-size-sm);
}
.paragraph17 {
  width: 339px;
  position: relative;
  display: inline-block;
  height: 232px;
  flex-shrink: 0;
}
.lightbulb-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 367px;
  height: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-div {
  width: 367px;
  position: relative;
  height: 332px;
}
.paragraph18 {
  width: 339px;
  position: relative;
  display: inline-block;
}
.puzzle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 367.5px;
  height: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper5 {
  width: 367.5px;
  position: relative;
  height: 332px;
}
.group-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px 14px;
  margin-top: -23px;
  text-align: center;
  font-size: var(--font-size-mid);
  font-family: var(--font-athiti);
}
.frame-parent6,
.franchisewhychooseus-h2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.franchisewhychooseus-h2 {
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  padding: var(--padding-54xl) var(--padding-165xl);
}
.frame-item {
  width: 1491px;
  position: relative;
  background: linear-gradient(
    263.13deg,
    rgba(190, 169, 103, 0.4) 34.38%,
    rgba(255, 255, 255, 0)
  );
  height: 526px;
  display: none;
}
.feature-title4 {
  height: 89px;
  flex: 1;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
}
.feature-title-frame {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 400px;
}
.title1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
}
.frame-parent7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px 0;
  min-width: 300px;
}
.pickup-qx80-city-rideshare-app-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 700px;
  overflow: hidden;
  height: 391px;
  object-fit: cover;
  min-width: 400px;
}
.rectangle-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 34px 48px;
}
.franchisewhychooseus-h4 {
  align-self: stretch;
  background: linear-gradient(265.64deg, #bcaa72, #fff);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-38xl) var(--padding-165xl);
}
.heading11 {
  align-self: stretch;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 300px;
}
.click1 {
  color: var(--color-gray-100);
}
.span3 {
  color: var(--color-lightslategray);
}
.here3 {
  text-decoration: underline;
}
.here2 {
  color: inherit;
}
.paragraph21 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 14px;
  display: inline-block;
  min-width: 300px;
}
.heading-parent9 {
  width: 1121px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 23px 0;
}
.divider-icon3 {
  width: 1920px;
  position: relative;
  height: 1px;
  opacity: 0.35;
}
.divider-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.social-media-icon-squareinsta3,
.social-media-icon-squarelinke3 {
  width: 36px;
  position: relative;
  height: 36px;
  cursor: pointer;
}
.social-media-icon-squareinsta3 {
  object-fit: cover;
}
.social-media-container1 {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
}
.social-media-container-container {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  width: 88px;
  height: 36px;
}
.contact-info3 {
  width: 88px;
  position: relative;
  height: 36px;
}
.goldsainte-gold-logo-franchise-icon1 {
  width: 46px;
  position: relative;
  height: 46px;
  object-fit: cover;
}
.email3 {
  width: 533.9px;
  position: relative;
  line-height: 14px;
  display: inline-block;
}
.contact-info-parent1,
.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-info-parent1 {
  padding: var(--padding-2xs) 0;
  gap: 20px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.frame-parent8 {
  height: 188px;
  gap: 10px 0;
}
.franchisewhychooseus-footer-inner {
  align-self: stretch;
  height: 189px;
  justify-content: flex-start;
}
.franchisewhychooseus-footer,
.franchisewhychooseus-footer-inner,
.whychooseus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.franchisewhychooseus-footer {
  align-self: stretch;
  height: 236px;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 var(--padding-165xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.whychooseus {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
@media screen and (max-width: 1200px) {
  .heading9 {
    font-size: var(--font-size-16xl);
    line-height: 35px;
  }
  .hamburger-menu10-icon {
    display: flex;
  }
  .heading10 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .headings3 {
    font-family: var(--font-arsenal);
  }
  .feature-title4,
  .headings3 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
}
@media screen and (max-width: 960px) {
  .heading9 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .paragraph15 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .heading10 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph16 {
    font-size: var(--font-size-sm);
  }
  .franchisewhychooseus-h1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .headings3 {
    font-family: var(--font-arsenal);
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchisewhychooseus-h2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .feature-title4 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchisewhychooseus-h4 {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-51xl);
    box-sizing: border-box;
  }
  .franchisewhychooseus-footer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .heading9 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .paragraph15 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .frame-wrapper3 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .heading10 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchisewhychooseus-h1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .headings3 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .franchisewhychooseus-h2 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .feature-title4 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
}
.logomark-seal-green-2-icon {
  width: 79px;
  position: relative;
  height: 79px;
  object-fit: cover;
}
.franchise-home {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.sections-child {
  width: 469px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 1px;
}
.menufranchise,
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 0;
}
.menufranchise {
  position: relative;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 39px 0;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.menufranchise.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .sections {
    display: flex;
  }
}
